<!doctype html>
<title>Nelisa's Spaza</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/main_page.css">
<link href='static/css/simplesidebar.css' rel='stylesheet' type='text/css'>
<div class= "container">
  {% if session['name'] %}
    <div class = "navbar navbar-fixed-top"><p>Hello there, <strong>{{session['name']}}</p></strong><a class="btn btn-default logoutBtn" href="/clear" role="button">Logout</a></div>
  {% endif %}
  <div class = "row">
  	<div class = "col-xs-0 col-md-2"></div>
  	<div class = "col-xs-12 col-md-8">
  		<a href = "/login"><img class = "img-responsive logo" src = "{{ url_for('static', filename='spaza.png') }}"></a>
  	</div>	
  	<div class = "col-xs-0 col-md-2"></div>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}
</div>